<div class="container">
<h3>Pokemon List</h3>

<nav>
  <ul class="pagination">
    <li ng-repeat='n in num' ng-click="page(n)"><a>{{n}}</a></li>
  </ul>
</nav>

<div ng-show="listLoading" class="loading"><h1><i class="fa fa-spinner fa-spin"></i> Loading pokemon</h1></div>
<div class="row">
  <div class="col-xs-6 col-md-3" ng-repeat='pokemon in pokeList' ui-sref='detail({id: pokemon.entry_number})'>
    <div class="thumbnail animated list-thumbnail"
    ng-class="{bounce: hover}"
    ng-mouseenter="hover = true"
    ng-mouseleave="hover = false">
        <div class="number"><h3># {{pokemon.entry_number}}</h1></div>
        <div class="name"><h3>{{pokemon.pokemon_species.name | titlecase}}</h3></div>
    </div>
  </div>

</div>

      <!-- <ul>
        <li ng-repeat='pokemon in pokeList' ui-sref='detail({id: pokemon.entry_number})'>
          <div>{{pokemon.entry_number}}</div>
          <div>{{pokemon.pokemon_species.name}}</div>
        </li>
      </ul> -->

</div> <!-- /.container -->
